@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0px;
padding:0px;
box-sizing:border-box;
font-family:'poppins', sans-serif;
}

.main-container{
position:relative;
top:200px;
left:300px;
border-radius:10px;
width:900px;
padding:20px;

display:flex;
justify-content:space-around;

}

.links{
padding:50px;
text-decoration:none;
color:black;
background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}